body {
  counter-reset: item;
}

.departure ul,
.destination ul {
  background: red;
}

.hide_suggestions {
  display: none;
}

.suggestion_list .active {
  background: green;
}

.travel_form {
  
  padding: 15px;
  
 }

 .travel_form * {
    font-family: 'Roboto', serif !important;
 }

.travel_form form {
  /*background: rgba(215, 220, 224, 0.5);*/
  max-width: 680px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
  text-align: right;

  background-image: linear-gradient(to top,#16165C,#922B86);
  border: 2px solid #16165C;
}

.travel_form label {
  width: 300px;
  display: inline-block;
  text-align: left;
  /*display: flex;
  align-items: center;*/
}

/*.travel_form label:after {
  content: "";
  clear: both;
  display: inline-block;
}*/

.travel_form label>span {
  width: 50px;
  float: left;
  line-height: 36px;
}

/*.travel_form label div {
  display: inline-block;
}*/



.date_range>div:last-child {
  margin-left: 20px;
}

.date_range>div:last-child:before {
  content: "-";
  color: #fff;
  display: inline-block;
  position: absolute;
  left: -13px;
  top: 10px;
  width: 6px;
}

.datepicker_wrapper,
.date_range {
  display: inline-block;
  
}

.date_range input {
  font-size: 16px;
}

input[name=travel_date_start],
input[name=travel_date_end] {
  width: calc(100% - 13px);
}

label[for=departure],
label[for=destination] {
  padding-top: 15px;
}

label[for=departure] {
  float: left;
}

label[for=destination] {
  float: right;
}

@media (max-width: 660px) {
  .travel_form label {
    width: 100%;
  }

  label[for=destination] {
    float: none;
    clear: both;
    padding-top: 0;
    display: block;

  }
}

label[for=departure]>span,
label[for=destination]>span,
.label_date {
  color: #fff;
  font-weight: bold;
}

/* input {
  height: 30px;
  height: 1.875rem;
  border: 1px solid #a6a6a6;
  margin: 20px 0;
  position: relative;
  padding-left: 5px;
} */

.label_date {
  padding-right: 5px;
  display: inline-block;
  line-height: 36px;
}


.suggestion_list {
  margin-top: 0;
  list-style: none;
  position: absolute;
  top: 54px;
  padding-left: 0;
  width: 250px;
  overflow: auto;
  max-height: 300px;
}

.Select.dep,
.Select.dest {
  /*width: 250px;
  float: right;*/
}

.Select.dep input,
.Select.dest input {
  
}

.datepicker_wrapper {
  width: 100%;
  text-align: left;
}

.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range {
  background: #16165C !important;
}

.react-datepicker__input-container {
  width: calc(50% - 10px);
}

.datepicker_wrapper .custom_input {
  line-height: 34px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  height: 32px;
  outline: none;
  padding-left: 10px;
  width: calc(100% - 13px);
  color: #073590 !important;
  font-weight: bold !important;
}

.Select-clear-zone {
  display: none !important;
}

.Select-option.is-focused,
.Select-option.is-selected {
  /*background: #2091EB !important;*/
  background: #16165C !important;
  color: #fff !important;
}

.Select-placeholder {
  font-size: 18px !important;
}

.Select-value {
  max-width: 94% !important;
}

.date_range {
  /*float: right;*/
  width: 100%;
}

.Select-value span,
.date_range input {
  color: #073590 !important;
  font-weight: bold !important;
}

.plane_from {
  width: 30px;
  height: 30px;
  transform: rotate(-20deg);
}

.plane_to {
  height: 30px;
  width: 30px;
  transform: rotate(0deg);
}

.submit_search {
  cursor: pointer;
  padding: 10px 30px;
  background: rgb(239, 239, 248);
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  color: #5f2274;
  margin-top: 30px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 115px;
}

.submit_search:hover {
  background: rgb(239, 239, 248);
  color: #58075d;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .75); 
}


/* SEARCH RESULT */

.search_result {
  max-width: 704px;
  margin: 0 auto;

  padding-top: 0;

  margin-top: 20px;

}

.search_item {
  color: #cccccc;
  background: #fff; 
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.header_line {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  line-height: 34px;
  background: rgba(88, 4, 123, 0.1);
}



.dep_info,
.dest_info {
  color: #000000;
}

.price_info {
  color: #460440;
  font-size: 20px;
  text-align: center;
}


.result_content {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

/*.result_content>div {
  display: inline-block;
}*/
.result_duration {
  color: #000000;
}

.result_time,
.result_date {
  color: #2E2E2E;
  font-weight: 700;
  font-size: 18px;
}

.book_flight {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  background: rgb(239, 239, 248);
  border: 0;
  border-radius: 4px;
}



.search_item {
  animation-delay: item+"s";
  counter-increment: item;
  animation: pulse .5s 1;

}

@keyframes pulse {
  0% {
    /*transform: translateX(900px);*/
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    /* transform: translateX(0px);
    animation-fill-mode: forwards; */
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
  }
}